@media screen and (min-width: 600px){ 
  body{
    background-color:#DCF0FE;
    /* width:700px; */
    width:700px;
  }
  .parent {
    
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .image1 { 
      grid-area: 1 / 1 / 5 / 5; }
      
    .main3 {
       margin-top:100px;
       margin-right:50px;
       font-size:25px;
       grid-area: 1 / 5 / 6 / 10; 
      
      }
       
    .main2 { 
      grid-area: 5 / 1 / 6 / 5; 
    
    
    }
  
  .main3 label{
    font-size:35px;
    margin-bottom:5px;
    display:inline-block;
    white-space: nowrap;
    margin-left:30px;
    margin-bottom:10px; 
  }
      .text{
        height:40px;
        width:650px;
        font-size:30px;
        border-radius: 10px;
        border: 5px solid #7AAEC4;
        resize:none;
        margin-bottom: 15px;
        
      }
      
      
      .textarea{
        font-size:25px;
        width:650px;
        height:200px;
        border-radius: 10px;
      border: 5px solid #7AAEC4;
      resize:none;
      
      
      }
      .btn{
        margin-left:400px;
        margin-top:10px;
        
        width:230px;
        height:60px;
        font-size:30px;
        background-color:#138EE1;
        color:white;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px #043152;
      }
      .btn:active{
        position:relative;
        top:2px;
        box-shadow: none;
      }
      .div3{
         /* height:100px; */
         /* width:100px; */
      }
     .main1main2{
        display: flex; 
        border:1px solid gray ;
        background-color: white;
        padding: 1px;
        margin-left:100px;
        margin-bottom:100px;
        
      }
      /* .filer{
        font-size:1px;
      }
      .app{
        font-size:1px;
      }  */
     .main1{
        
        border:0.5px solid  black;
        padding: 1px;
        padding-right:20px;
        }
     .main2{
          
          border:1px solid black ;
          padding: 1px;
          margin-left: 1px;
          }
    .image{
          
          background-color: white;
          position:relative;
          right:-85px;
          top:130px; 
           width: 400px;
          height: 350px; 

          
          border: 5px solid #7AAEC4;
            }
 } 
@media screen and (max-width: 600px){
  body{
    background-color:#DCF0FE;
    /* width:700px; */
    /* width:300px; */
    
  }
  .form{
    display: inline;
    text-align: center;
  }
  
  
    .parent {
      
      /* margin: 0 auto; */
      /* width:600px; */
      }
      
        
      .main3 {
         margin-top:60px;
         /* margin-right:50px; */
         font-size:25px;
         
        }
         .main1{
          width:20px;
         }
      .main2 { 
        width:20px;
       }
    
    .font{
      font-size:15px;
      /* margin-bottom:5px; */
      display:inline-block;
      white-space: nowrap;
     margin-right:150px;
      
    }
        .text{
          height:20px;
          width:250px;
          font-size:12px;
          border-radius: 5px;
          border: 2px solid #7AAEC4;
          resize:none;
          /* margin-bottom: 15px; */
          
        }
        
        
        .textarea{
          font-size:15px;
          width:250px;
          height:80px;
          border-radius: 5px;
        border: 2px solid #7AAEC4;
        resize:none;
        
        
        }
        .btn{
          /* margin-left:400px; */
          margin-top:10px;
          
          width:140px;
          height:30px;
          font-size:15px;
          background-color:#138EE1;
          color:white;
          border-radius: 5px;
          border: none;
          box-shadow: 0px 4px #043152;
        }
        
        .btn:active{
          position:relative;
          top:2px;
          box-shadow: none;
        }
        
         .main1main2{
          display: flex; 
          border:1px solid gray ;
          background-color: white;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          margin-top:25px;
         width:330px;
          /* margin-left:50px; */
          /* margin-bottom:50px;  */
        } 
         .filer{
          /* font-size:1px; */
        }
        .app{
          /* font-size:1px; */
          /* margin-left: 10px; */
          position: relative;
          left:-35px;
        }  
        .main1{
         
          /* border:0.5px solid  black;   */
          
          padding-right:250px;
         
          }
          .main2{
            
            /* border:1px solid black ; */
            
            
            padding-right:57px;
            
            }
            .image1{ 
              /* display: inline;
              text-align: center; */
              
               }
               
            .image{
              
              background-color: white;
              
              width: 200px;
              height: 230px; 
              margin-top:150px;
              
              border: 2px solid#7AAEC4;
                }
                
              }
              
